<form novalidate [formGroup]="thirdPage">
    <div class="radios">
        <div class="subscribeSection">
            <div class="subscribe">
                <input  type="radio" 
                        name="radios"       
                        formControlName="radios" 
                        value="Subscribe" 
                        (change)="dam($event)">Subscribe
                
            </div>

            <div class="radioEmail" *ngIf="selected == 'Subscribe' ">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email">
            </div>

            <div
                class="error"
                *ngIf="thirdPage.get('email').hasError('required') && thirdPage.get('email').touched">
                Email is required.
            </div>
            <div
                class="error"
                *ngIf="thirdPage.get('email').hasError('pattern') && thirdPage.get('email').touched">
                Enter valid email.
            </div>


            <div
                class="error"
                *ngIf="(selected=='Subscribe') && submitted">
                Enter email.
            </div>
        </div>






            
        <div class="laterSection">
            <div class="later">
                <input type="radio" formControlName="radios" name="radios" value="Later" (change)="dam($event)">
                <label for="radio">Later</label>
            </div>
        </div>
    </div>


    <div
        class="error"
        *ngIf="(selected != 'Subscribe') && submitted">
    Please click.
    </div>



    <div class = "nextAndBack">
        <div class="backButton">
            <button type="button">Back</button>
        </div>
    
        <div class="nextButton">
            <button type="submit" (click)="buttClick()" >Next</button>
        </div>
    </div>
    
    
</form>