.form-group{
    display: flex;
    flex-direction: column;

    margin:13px 0;
}

/* [type=text] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
} */

input:focus{
    outline: none;
}

small{
    color:red;
}



.borderRed{
    color:green;
    /* border: 1px solid red; */
}