

.form-group{
    display: flex;
    flex-direction: column;
    
    margin:17px auto;
}


input:focus{
    outline: none;
}


.invalidName input{
    border: 2px solid red;
}

.validName input{
    border: 2px solid green;
}

.invalidEmail input{
    border:2px solid red;
}
.validEmail input{
    border:2px solid green;
}

.invalidPass input{
    border:2px solid red;
}

.validPass input{
    border:2px solid green;
}