form{
    display: flex;
    flex-direction: column;
    border:1px solid black;
    padding: 25px;
    width: 20%;
    margin: 27px auto;
   
}
.fields{
    margin: 13px 0;
}
input:focus{
    outline: none;
}

.error{
    color:red;
    margin-top: 0;
    font-size: 13px;
}


input.ng-touched.ng-invalid {
    border:2px solid red;
}
input.ng-touched.ng-valid {
    border:2px solid green;
}

.buttonField{
    display: flex;
    justify-content: flex-end;
}