
<form novalidate [formGroup]="user" (ngSubmit)="onSubmit(user)">

  <div class = "fields">
      <label for="username">Username</label><br>
      <input type="text"
        formControlName="username">
  </div>

  <div
    class="error"
    *ngIf="user.get('username').hasError('required') && user.get('username').touched">
      Name is required.
  </div>
  <div
    class="error"
    *ngIf="user.get('username').hasError('minlength') && user.get('username').touched">
    Minimum of 2 characters.
  </div>


    <div class = "fields">
        <label for="email">Email</label><br>
        <input type="email"
          formControlName = "email">
    </div>


    <div
      class="error"
      *ngIf="user.get('email').hasError('required') && user.get('email').touched">
      Email is required.
    </div>
    <div
      class="error"
      *ngIf="user.get('email').hasError('pattern') && user.get('email').touched">
      Enter valid email.
    </div>

   <div class = "fields">
      <label for="password">Password</label><br>
      <input type="password"
      formControlName = "password">
   </div>
   <div
      class="error"
      *ngIf="user.get('password').hasError('required') && user.get('password').touched">
      Password is required.
    </div>

   <div class = "fields">
      <label for="confPass">Confirm Password</label><br>
    <input type="password"
      formControlName = "confPass">
   </div>
   <div
      class="error"
      *ngIf="user.get('confPass').hasError('required') && user.get('confPass').touched">
      Password Confirm is required.
    </div>

   <div class = "fields">
      <button type="submit" [disabled]="!user.valid">Next</button>
   </div>



</form>