form{
    display: flex;
    flex-direction: column;
   
}
.fields{
    margin: 13px 0;
}
input:focus{
    outline: none;
}

.error{
    color:red;
    margin-top: 0;
    font-size: 13px;
}


input.ng-touched.ng-invalid {
    border:2px solid red;
}
input.ng-touched.ng-valid {
    border:2px solid green;
}