
<form novalidate [formGroup]="firstpage" (ngSubmit)="onSubmit(firstpage)">

  <div class = "fields">
      <label for="username">Username</label><br>
      <input type="text"
        formControlName="username">
  </div>

  <div
    class="error"
    *ngIf="(firstpage.get('username').hasError('required') && firstpage.get('username').touched) 
            ||  (firstpage.get('username').untouched && submittedForm)">
      Name is required.
  </div>  
  <div
    class="error"
    *ngIf="(firstpage.get('username').hasError('minlength') && firstpage.get('username').touched)">
    Minimum of 2 characters.
  </div>


    <div class = "fields">
        <label for="email">Email</label><br>
        <input type="email"
          formControlName = "email">
    </div>


    <div
      class="error"
      *ngIf="(firstpage.get('email').hasError('required') && firstpage.get('email').touched)
              ||  (firstpage.get('email').untouched && submittedForm)">
      Email is required.
    </div>
    <div
      class="error"
      *ngIf="firstpage.get('email').hasError('pattern') && firstpage.get('email').touched">
      Enter valid email.
    </div>

   <div class = "fields">
      <label for="password">Password</label><br>
      <input type="password"
      formControlName = "password">
   </div>
   <div
      class="error"
      *ngIf="(firstpage.get('password').hasError('required') && firstpage.get('password').touched)
              ||  (firstpage.get('password').untouched && submittedForm)">
      Password is required.
    </div>

   <div class = "fields">
      <label for="confPass">Confirm Password</label><br>
    <input type="password"
      formControlName = "confPass">
   </div>
   <div
      class="error"
      *ngIf="(firstpage.get('confPass').hasError('required') && firstpage.get('confPass').touched)
              ||  (firstpage.get('confPass').untouched && submittedForm)">
      Password Confirm is required.
    </div>
    
    <div  
      class="error"
      *ngIf="firstpage.value.password!==firstpage.value.confPass && firstpage.get('confPass').touched">
      Passwords does not match.
    </div>

   <div class = "buttonField">
      <button type="submit"  (click)="buttClick()">Next</button>
   </div>
   

</form>

   <!-- [disabled]="!firstpage.valid && firstpage.value.password!==firstpage.value.confPass" -->
