<div class = "data">
    <div class = "border">
        <p>Username is: {{ damOne.username }}</p>
        <p>Email is: {{ damOne.email }}</p>
        <p>Password is: {{ damOne.password }}</p>
    </div>

    <div class = "border">
        <p>Card Owner is: {{ damTwo.cardOwner }}</p>
        <p>Card Number is: {{ damTwo.cardNumber }}</p>
        <p>Card CVV is: {{ damTwo.cardCVV }}</p>
        <p>Card Month is: {{ damTwo.cardMonth }}</p>

        <br>

        <p>City is: {{ damTwo.city }}</p>
        <p>Street is: {{ damTwo.street }}</p>
    </div>
    
    <div class = "border">
        <p>Check is: {{ damThree.radios }}</p>
        <p>Email is: {{ damThree.email }}</p>
        
    </div>

</div>