<form novalidate [formGroup]="secondpage">
    <div class = "creditCard">
        <button (click)="cardButton()">Add Credit Card</button>
    </div>


    <div *ngIf="cardOpen">
    <div class="cardSection"  *ngFor = "let dam of array">


         <div class="cardOwner">
            <label for="cardOwner">Card Owner</label>
            <input type="text" required  formControlName = "cardOwner">
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardOwner').hasError('required') && secondpage.get('cardOwner').touched">
            Card Owner name is required.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardOwner').hasError('pattern') && secondpage.get('cardOwner').touched">
            Card Owner name should be start with Mr. or Mrs.
        </div>

        <div class="cardNumber">
            <label for="cardNumber">Card number</label>
            <input type="text" required formControlName = "cardNumber">
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardNumber').hasError('required') && secondpage.get('cardNumber').touched">
            Card number is required.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardNumber').hasError('minlength') && secondpage.get('cardNumber').touched">
            Card number should contain 16 digits.
        </div>
        <div class="cardCVV">
            <label for="cardCVV">Card CVV</label> <br>
            <input type="text" maxlength="3" formControlName = "cardCVV"  (keypress)="numberOnly($event)">
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardCVV').hasError('required') && secondpage.get('cardCVV').touched">
            CardCVV is required.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardCVV').hasError('minlength') && secondpage.get('cardCVV').touched">
            CardCVV should contain 3 digits.
        </div>
        <div class="cardMonth">
            <label for="cardMonth">Card Month</label>
            <input type="text" formControlName = "cardMonth" >
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardMonth').hasError('minlength') && secondpage.get('cardMonth').touched">
            Enter valid month and year.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('cardMonth').hasError('required') && secondpage.get('cardMonth').touched">
            Card month is required.
        </div>
    </div>
</div>



    <div class = "billingAddress">
        <button (click)="billingAddress()">Add Billing Address</button>
    </div>

    <div class = "billingAddSection" *ngIf = "billingOpen">
        <div class="city">
            <label for="city">City</label><br>
            <input type="text" formControlName = "city">
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('city').hasError('required') && secondpage.get('city').touched">
            City is required.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('city').hasError('pattern') && secondpage.get('city').touched">
            City should contain only letters.
        </div>
    <br>
        <div class="street">
            <label for="street">Street</label><br>
            <input type="text" formControlName = "street">
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('street').hasError('required') && secondpage.get('street').touched">
            Street is required.
        </div>
        <div
            class="error"
            *ngIf="secondpage.get('street').hasError('pattern') && secondpage.get('street').touched">
            Street shoult contain only letters.
        </div>

    </div>




    <div
        class = "error"
        *ngIf="!cardOpen && submittedForm">
    Enter at least one Credit Card.
    </div>

    <div
        class = "error"
        *ngIf="!billingOpen && submittedForm">
    Enter a Billing Address.
    </div>


    <div class = "nextAndBack">
        <div class="backButton">
            <button type="button">Back</button>
        </div>
    
        <div class="nextButton">
            <button type="submit" (click)="buttClick()" >Next</button>
        </div>
    </div>

    

</form>